.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  max-width: 450px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: rgb(245, 241, 241);
  border-radius: 15px;
}

.modal b {
  color: rgba(100, 100, 100);
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal h3 {
  text-align: center;
  color: #185ea5;
}

.modal p {
  color: #185ea5;
  margin: 8px 13px;
}

.modal-inp-field {
  padding: 5px 0;
}

.btn-sub {
  margin-top: 10px;
}

.modal-sub-btn {
  width: 100%;
  height: 40px;
  transition: background-color 0.3s ease;
}

.accept {
  color: #fff;
  background-color: rgb(42, 102, 188);
}

.accept:hover {
  background-color: rgb(14, 71, 149);
}

.reject {
  color: rgb(100, 100, 100);
}

.reject:hover {
  background-color: rgb(194, 192, 192);
}

.close {
  cursor: pointer;
}
