.container {
  margin-top: 10px;
  padding: 0 20px;
  border: 0.8px solid rgb(205, 215, 225);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(255, 255, 255);
}

td {
  background-color: transparent;
}

.nav-block {
  display: flex;
  gap: 40px;
}

.nav-block button,
.btnStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  border: 0.8px solid rgb(205, 215, 225);
  box-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.nav-block button:hover,
.btnStyle:hover {
  background-color: #185ea5;
  color: aliceblue;
}

.nav-block button:hover a {
  color: aliceblue;
}

button {
  border: 0.8px solid rgb(205, 215, 225);

  box-shadow: 0px 0px 4px rgb(255, 255, 255);
}
