.nav-block {
  display: flex;
  gap: 40px;
}

.nav-block button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  border: 0.8px solid rgb(205, 215, 225);
  box-shadow: 1px 1px 2px rgb(255, 255, 255);
}
a {
  text-decoration: none;
}

.nav-block button:hover {
  background-color: #185ea5;
  color: aliceblue;
}
.nav-block button:hover a {
  color: aliceblue;
}

tbody {
  border-radius: 8px;
}
